openai>=2.0.0
python-dotenv>=1.0.0
jupyter
ipykernel
langgraph >= 0.6.6
langchain[openai] >= 0.3.27
langgraph-checkpoint-sqlite>=2.0.0
aiosqlite>=0.21.0
pydantic>=2.0.0
grandalf
pyppeteer>=2.0.0
nest_asyncio>=1.6.0